SET QUOTED_IDENTIFIER ON;
SET ANSI_NULLS ON;
GO
ALTER PROCEDURE [OP].[spGetMasterData]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 'OpKabalas' AS DatasetName;
    SELECT 
        k.id, 
        k.Name, 
        k.ActiveFlg,
        (
            SELECT a.id, a.Slot, a.Kind, a.BlobUrl, a.Mime, a.SizeInBytes 
            FROM [OP].[tblKabalaAsset] a 
            WHERE a.KabalaID = k.id AND a.ActiveFlg = 1 
            FOR JSON PATH
        ) AS AssetsJson
    FROM [OP].[tblKabala] k 
    WHERE k.ActiveFlg = 1;

    SELECT 'OpTopics' AS DatasetName;
    SELECT id, Name, ActiveFlg FROM [OP].[tblTopic] WHERE ActiveFlg = 1;
END
GO
